body {
    margin: 30px;
    padding-top: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 45%;
  }

.centertext {
    text-align: center;
}

.tagline {
    font-size: 40px;
}

.tagline2 {
    font-size: 30px;
}

.navlinks {
    display: flex;
    text-align: right;
    justify-content: space-between;
    padding: 30px;
    font-size: 20px;
}

.centerbutton {
    color: white;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 12px;
    padding: 10px 40px;
    border: none;
    width: 260px;
    height: 50px;
    line-height: 0;
    padding-bottom: 20px;
    background-color: #1DA1F2;
    padding-top: 20px;
}

.centerbuttonlink {
    text-align: center;
}

.services {
    height: 250px;
    width: 250px;
}

.services2 {
    height: 250px;
    width: 400px;
    text-align: justify;
}

.services3 {
    height: 250px;
    width: 300px;
}

.text-center {
    text-align: justify;
    text-justify: inter-word;
}

.justify {
    text-align: justify;
}

